.GerenciarEspaco, .CriarEspaco {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  h1 {
    text-align: center;
  }

  button {
    cursor: pointer;
  }

  .content {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding: 4%;
    // gap: 6vw;

    .inputs{
      display: flex;
      flex-direction: column;
      align-items:start;
      width: 100%;
      padding: 2vw 0vw;

      div{
        display: flex;
        flex-direction: row;
        gap: 1vw;

        .InputTexto, .AreadeTexto{
          width: 30vw;
          height: 3vh;
          border: 1px solid #ccc;
          color: var(--preto-principal);

        }
        .AreadeTexto{
          height: 15vh;

        }
      }

      label{
        font-weight: bold;
        font-size: 1.2vw;
      }
    }

    .cabecalho {
      display: flex;
      align-items: center;
      min-width: 100%;
      height: 5vw;
      gap: 2%;

      p{
        font-weight: bold;
        font-size: 0.8vw;
      }
    }
    .list {
      display: flex;
      flex-wrap: wrap;
      gap: 2vw;
      width: 100%;
      justify-content: baseline;

      padding-bottom: 4%;

      .cardTitle {
        color: var(--laranja-principal);
        font-weight: bold;
        text-align: center;
      }
      .card {
        border: 1px solid var(--laranja-principal);
        padding: 1vw;
        display: flex;
        height: fit-content;
        justify-content: space-between;
        align-items: center;
        gap: 1vw;
        max-width: 100%;
        border-radius: 6px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

        &.selecionado {
          background-color: var(--laranja-principal);
          color: white !important; 
          border-color: var(--laranja-principal); 
          
          .cardContent {
            p, .botao {
              color: white !important; 
            }
          }
        }

        .cardContent {
          display: flex;
          flex-direction: column;
          gap: 1vw;

          .botao {
            border: none;
            border-radius: 4px;
            background-color: #faf57b;
          }

          .botaoExcluir {
            background-color: #ff5f5f;
          }

          p {
            margin: 0;
          }
        }
      }

      .cardModalidade, .cardItem {
        p {
          margin: 0;
        }
      }

      
    }
  }
}

.cardEspaco {
  display: flex;
  width: 100%;
  min-height: 38vh;
  max-height: fit-content;
  justify-content:flex-start;
  align-items: baseline;
  
  .containerInfoEspaco{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    border: 1px solid;
  
    .containerInfo{
      display: flex;
      width: 100%;
    }
    
    .infoEspaco{
      width: 100%;
    }
  
    .botoesCardEspaco{
      display: flex;
      gap: 2vw;
    }
  
  }
}

