.Equipes{
    padding-bottom: 3vw;
}

.opcao {
  display: flex;
  align-items: baseline;
  justify-content: center;
  padding-bottom: 4%;

  label {
    font-size: calc(8px + 1vw);
  }
}

@media (max-width: 600px) {
  .opcao {
    display: grid;
    gap: 2vw;
    justify-content: center;
    text-align: center;
  }
}

.listaEquipes {
  display: flex;
  flex-wrap: wrap;
  gap: 5.5%;
  row-gap: 2vw;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}



.botaoEquipe {
  background-color: var(--laranja-principal);
  margin-left: 5vw;
  color: white;
  font-size: calc(8px + 1vw);
  padding: 1%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  display: inline-block;

  &:hover {
    background-color: darken(#f78b1f, 10%);
  }
}

/* Media query para telas menores que 300px */
@media (max-width: 600px) {
  .listaEquipes {
    display: flex;
    flex-direction: column;
    gap: 6vw; /* Ajusta o espaçamento entre os itens */
    justify-items: center; /* Centraliza os itens dentro do grid horizontalmente */
    align-items: center; /* Centraliza os itens dentro do grid verticalmente */
    height: 100vh;
  }
  .botaoEquipe {
    margin: 0;
  }
}
