section {
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 2vw;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: max(16px, 2.5vw);
    margin: 0;
  }

  p {
    font-size: max(12px, 1.5vw);
  }
}

.modalidades {
  background-color: var(--preto-principal);
  height: 100%;
  color: white;
  padding: 8vw;

  .header{
    display: flex;
    align-items: center;
    gap: 50px;
  }

  h1 {
    color: var(--laranja-principal);
  }

  .texto {
    padding: 0 2%;
  }
}
.listaModalidades {
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  gap: 5.7%;
  row-gap: 2vw;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}


.sobre {
  background-color: var(--laranja-principal);
  padding: 6vw 2vw;
  p {
    padding: 0 6vw;
  }
}
