.HomeView {
  color: white;
  .container {
    background-image: url("../../../public/imgPrincipal.png");
    background-position: center;
    background-size: cover;
    height: 75vh;
  }

  @media (max-width: 1200px) {
    .container {
      height: 65vw;
    }
  }
}